.logo {
    width: 90px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Isso garante que a proporção da imagem seja mantida */
    margin-right: 5px; /* Ajuste a margem conforme necessário para separar a logo do texto */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #000000, #463729);
    color: #fff;
    width: 98,5%;
}

.header-container h1 {
    margin: 0; /* Remove a margem padrão do h1 */
}

h1 {
    text-align: center;
}

.header-trackings nav ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    text-align: center;
    background-color:chocolate;
}

.header-trackings nav li {
    display: inline-block;
    margin-right: 10px;
}

.header-trackings nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
    display: block; 
    margin-top: 5px; 
}

.header-trackings nav a:hover {
    color: #ffcc00;
}

.slideshow {
    display: flex;
    overflow: hidden;
}

.slide {
    flex: 0 0 100%; /* Cada slide ocupa 100% da largura disponível */
    transition: opacity 2s ease-in-out;
}

.slide img {
    width: 100%;
    height: 450px;
}

/* Adicione animações */
/*@keyframes slideAnimation {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* Animação para cada slide */
/*.slide:nth-child(1) {
    animation: slideAnimation 5s infinite;
}

.slide:nth-child(2) {
    animation: slideAnimation 5s 2s infinite;
}

.slide:nth-child(3) {
    animation: slideAnimation 5s 4s infinite;
}*/

.main-content {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.main-content p::before {
    content: "•"; /* Adiciona um ponto antes do texto */
    color: chocolate; /* Define a cor do ponto */
    display: inline-block; /* Permite ajustar a posição do ponto */
    margin-right: 5px; /* Espaçamento à direita do ponto */
}

.main-content2 {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.main-content2 p::before {
    content: "•"; /* Adiciona um ponto antes do texto */
    color: chocolate; /* Define a cor do ponto */
    display: inline-block; /* Permite ajustar a posição do ponto */
    margin-right: 5px; /* Espaçamento à direita do ponto */
}

.main-content3 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
}

.main-content3 h2 {
    width: 100%;
    text-align: center;
}

.main-content3 h3{
    text-align: center;
}

.main-content3 .Company_info {
    width: calc(33% - 5px); /* 33.33% para 3 em uma linha, -10px para lidar com margens entre as divs */
    margin-bottom: 15px; /* Adicione espaço entre as linhas conforme necessário */
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
}

.main-content3 img {
    display: block;
    width: 150px; 
    height: auto; 
    margin: 0 auto;
}

/*CSS para o instagram*/
.main-content3 .info_insta{
    text-align: center;
    display: inline-flex;
    align-items: center;
}
.main-content3 img[alt="Instagram"] {
    display: block;
    width: 25px; 
    height: auto; 
    align-items: center;
    padding: 4px;
    margin-right: 3px;
    margin-left: 110px;
}
.main-content3 .info_insta a {
    text-decoration: none;
    color: #ad0361; 
    font-weight: bold;
    display: inline-block;
}
.main-content3 .info_insta a:hover{
    color: #8907aa;
}

/*CSS para o Email*/
.main-content3 img[alt="Email"] {
    display: block;
    width: 25px; 
    height: auto; 
    align-items: center;
    padding: 4px;
    margin-right: 3px;
    margin-left: 110px;
}
.main-content3 .info_email{
    text-align: center;
    display: inline-flex;
    align-items: center;
}
.main-content3 .info_email a {
    text-decoration: none;
    color: #0b69b6; 
    font-weight: bold;
    display: inline-block;
}
.main-content3 .info_email a:hover{
    color: #1e019c;
}

/* CSS para o WhatsApp */
.main-content3 img[alt="WhatsApp"] {
    display: block;
    width: 25px; 
    height: auto; 
    align-items: center;
    padding: 4px;
    margin-right: 3px;
    margin-left: 110px;
}
.main-content3 .info_whatsapp{
    text-align: center;
    display: inline-flex;
    align-items: center;
}
.main-content3 .info_whatsapp a {
    text-decoration: none;
    color: #0adf15; 
    font-weight: bold;
    display: inline-block;
}
.main-content3 .info_whatsapp a:hover{
    color: #05830f;
}

/*CSS para o telefone*/
.main-content3 img[alt="Telefone"] {
    display: block;
    width: 25px; 
    height: auto; 
    align-items: center;
    padding: 4px;
    margin-right: 3px;
    margin-left: 110px;
}
.main-content3 .info_phone{
    text-align: center;
    display: inline-flex;
    align-items: center;
}
.main-content3 .info_phone a {
    text-decoration: none;
    color: #eb2207; 
    font-weight: bold;
    display: inline-block;
}
.main-content3 .info_phone a:hover{
    color: #b4120c;
}
footer {
    position: relative;
    background-color: #030303;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 98,5%;
}