.logo {
    width: 90px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Isso garante que a proporção da imagem seja mantida */
    margin-right: 5px; /* Ajuste a margem conforme necessário para separar a logo do texto */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #000000, #463729);
    color: #fff;
    width: 98,5%;
}

.header-container h1 {
    margin: 0; /* Remove a margem padrão do h1 */
}



.header-trackings nav ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    text-align: center;
    background-color:chocolate;
}

.header-trackings nav li {
    display: inline-block;
    margin-right: 10px;
}

.header-trackings nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
    display: block; /* Faz cada link ocupar uma linha inteira */
    margin-top: 5px; /* Adiciona espaço acima de cada link */
}

.header-trackings nav a:hover {
    color: #ffcc00; /* ou outra cor de destaque desejada ao passar o mouse */
}

.main-content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

footer {
    position: relative;
    background-color: #030303;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 98,5%;
}