.logo {

    width: 90px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Isso garante que a proporção da imagem seja mantida */
    margin-right: 5px; /* Ajuste a margem conforme necessário para separar a logo do texto */
}

body {
    
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #000000, #463729);
    color: #fff;
    width: 98,5%;
}

.header-container h1 {
    margin: 0; /* Remove a margem padrão do h1 */
}

h1 {
    text-align: center;
}

.header-trackings nav ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    text-align: center;
    background-color:chocolate;
}

.header-trackings nav li {
    display: inline-block;
    margin-right: 10px;
}

.header-trackings nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
    display: block; 
    margin-top: 5px; 
}

.header-trackings nav a:hover {
    color: #ffcc00;
}

.slideshow {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    border-radius: 0.5rem;
}

.slides {
    width: 52%;
    height: 400px;
    display: flex;
    /*flex: 0 0 100%; 
    transition: opacity 2s ease-in-out;*/
}

.slides input{
    display:none;
}

.slide{
    width: 300%;
    position: relative;
    transition: 5s;
}

.slide img {
    width: 80%px;
}

#radio1:checked ~ .first{
    margin-left: -50%;
}
#radio2:checked ~ .first{
    margin-left: -320%;
}
#radio3:checked ~ .first{
    margin-left: -440%;
}

.main-content {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.main-content p::before {
    content: "•";
    color: chocolate; 
    display: inline-block; 
    margin-right: 5px; 
}

.main-content2 {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.main-content2 p::before {
    content: "•"; 
    color: chocolate; 
    display: inline-block; 
    margin-right: 5px; 
}

.main-content3 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
}

.main-content3 h2 {
    width: 100%;
    text-align: center;
}

.main-content3 h3{
    text-align: center;
}

.main-content3 .Company_info {
    width: calc(33% - 5px); /* 33.33% para 3 em uma linha, -10px para lidar com margens entre as divs */
    margin-bottom: 15px; /* Adicione espaço entre as linhas conforme necessário */
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
}

.main-content3 img {
    display: block;
    width: 150px; 
    height: auto; 
    margin: 0 auto;
}

/*CSS para o instagram*/
.main-content3 .info_insta{
    text-align: center;
    display: inline-flex;
    align-items: center;
}
.main-content3 img[alt="Instagram"] {
    display: block;
    width: 25px; 
    height: auto; 
    align-items: center;
    padding: 4px;
    margin-right: 3px;
    margin-left: 110px;
}
.main-content3 .info_insta a {
    text-decoration: none;
    color: #ad0361; 
    font-weight: bold;
    display: inline-block;
}
.main-content3 .info_insta a:hover{
    color: #8907aa;
}

/*CSS para o Email*/
.main-content3 img[alt="Email"] {
    display: block;
    width: 25px; 
    height: auto; 
    align-items: center;
    padding: 4px;
    margin-right: 3px;
    margin-left: 110px;
}
.main-content3 .info_email{
    text-align: center;
    display: inline-flex;
    align-items: center;
}
.main-content3 .info_email a {
    text-decoration: none;
    color: #0b69b6; 
    font-weight: bold;
    display: inline-block;
}
.main-content3 .info_email a:hover{
    color: #1e019c;
}

/* CSS para o WhatsApp */
.main-content3 img[alt="WhatsApp"] {
    display: block;
    width: 25px; 
    height: auto; 
    align-items: center;
    padding: 4px;
    margin-right: 3px;
    margin-left: 110px;
}
.main-content3 .info_whatsapp{
    text-align: center;
    display: inline-flex;
    align-items: center;
}
.main-content3 .info_whatsapp a {
    text-decoration: none;
    color: #0adf15; 
    font-weight: bold;
    display: inline-block;
}
.main-content3 .info_whatsapp a:hover{
    color: #05830f;
}

/*CSS para o telefone*/
.main-content3 img[alt="Telefone"] {
    display: block;
    width: 25px; 
    height: auto; 
    align-items: center;
    padding: 4px;
    margin-right: 3px;
    margin-left: 110px;
}
.main-content3 .info_phone{
    text-align: center;
    display: inline-flex;
    align-items: center;
}
.main-content3 .info_phone a {
    text-decoration: none;
    color: #eb2207; 
    font-weight: bold;
    display: inline-block;
}
.main-content3 .info_phone a:hover{
    color: #b4120c;
}

.Product {
    background: linear-gradient(45deg, #f0785a, #ce6515); /* Gradiente laranja */
    color: #fff; 
    padding: 20px;
    border-radius: 15px; 
    height: 100%;
    width: 25%;
    position: relative;
}
.Product p1{
    text-align: left;
}
.Product p{
    text-align: left;
}

.cacao-button {
    position: absolute;
    bottom: 10px;
    left: 25%;
    padding: 15px 30px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(90deg, #4d2c0b, #cc7824); 
    color: #fff;  
    border-radius: 10px; 
    transition: background-color 0.3s ease;
}

.cacao-button:hover {
    background: linear-gradient(90deg, #5a391a, #80470e); 
}

.main-content4 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
}

.main-content4 h2 {
    width: 100%;
    text-align: center;
}

.main-content4 .Routes {
    display: flex;
    margin-bottom: 15px; /* Adicione espaço entre as linhas conforme necessário */
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    gap: 10px;
}

.main-content4 h3{
    text-align: center;
}

.main-content4 img {
    display: block;
    width: 150px; 
    height: auto; 
    margin: 0 auto;
    border-radius: 50%;
}

footer {
    position: relative;
    background-color: #030303;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 98,5%;
}