.logo {
    width: 90px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Isso garante que a proporção da imagem seja mantida */
    margin-right: 5px; /* Ajuste a margem conforme necessário para separar a logo do texto */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #000000, #463729);
    color: #fff;
}

.header-container h1 {
    margin: 0; 
}

.header-main nav ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    text-align: center;
    background-color:chocolate;
}

.header-main nav li {
    display: inline-block;
    margin-right: 10px;
}

.header-main nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
    display: block; 
    margin-top: 5px; 
}

.header-main nav a:hover {
    color: #ffcc00; 
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.fornecedor-group {
    width: 100%;
    margin-bottom: 20px;
}

.form-group {
    flex-basis: calc(25% - 20px);
    margin-right: 25px;
    margin-left: 20px;
    margin-bottom: 20px;
}

form {
    width: 100%;
}

/* Estilo para os botões de submit */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

h1 {
    margin-bottom: 10px;
}

span {
    display: block;
    margin-bottom: 5px;
}

footer {
    background-color: #030303;
    color: #fff;
    text-align: center;
    padding: 10px;
    /*position: fixed;*/
    bottom: 10px;
    width: 100%;
}