* {
    box-sizing: border-box;
}

.logo {

    width: 90px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Isso garante que a proporção da imagem seja mantida */
    margin-right: 5px; /* Ajuste a margem conforme necessário para separar a logo do texto */
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #000000, #463729);
    color: #fff;
    width: 98,5%;
}

.header-container h1 {
    margin: 0; /* Remove a margem padrão do h1 */
}

.cacaue {
    position: absolute;
    top: 2px; 
    right: 10px;
    width: 80px; 
    height: auto;
}

h1 {
    text-align: center;
}

.header-trackings nav ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    text-align: center;
    background-color:chocolate;
}

.header-trackings nav li {
    display: inline-block;
    margin-right: 10px;
}

.header-trackings nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
    display: block; 
    margin-top: 5px; 
}

.header-trackings nav a:hover {
    color: #ffcc00;
}

.carrosel{
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 4px black;
    overflow: hidden;
    height: 400px;
    width: 95%;
    border-radius: calc(10px + 5vh) calc(10px + 5vh) calc(10px + 5vh) calc(10px + 5vh);
    margin-right: auto;
    margin-left: auto;
}
.container{
    box-sizing: border-box;
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}
.container img{
    box-sizing: border-box;
    object-fit: cover;
    height: 400px;
    width: 100%;
}

.container2 {
    display: flex;
}

.Whatcocoa {
    flex: 1;
    padding: 20px;
    text-align: left;
    padding: 2%;
    width: 75%;
}

.Whatcocoa p::before {
    content: "•";
    color: chocolate; 
    display: inline-block; 
    margin-right: 1%; 
    padding: 0.5%;
}
.destaque {
    color: #311c00;
    font-size: larger;
}
.Whatcocoa .destaque::before {
    content: none;
    margin-right: 0; 
}
/* --- Imagens ao lado --- */

.Rightimages {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div .gpscocoa,
div .Products_cocoa,
div .transport {
    margin-top: 6%;
    margin-bottom: 4%;
    width: 30%;
}

div .gpscocoa img,
div .Products_cocoa img,
div .transport img {
    border-radius: 50%;
    width: 100%;
    height: 200px;
    border-width: 4%;
    border: 5px solid transparent;
    background: chocolate;
}

/* --- Text --- */
.container3 {
    display: flex;
}
.Because {
    flex: 1;
    padding: 20px;
    text-align: left;
    width: 67.8%;
    padding: 2%;
    margin-top: 6%;
    margin-bottom: 4%;
}

.main-content2 p::before {
    content: "•"; 
    color: chocolate; 
    display: inline-block; 
    margin-right: 5px; 
}

/*Imagem do Fornecedor com o Empresário gerado por IA*/
.Supplier_and_Company {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
}
.Supplier_and_Company img {
    margin-top: 20%;
    width: 40%;
    border-radius: 13%;
}
.Supplier_and_Company h4{
    margin-top: 0.5%; 
    text-align: center; 
}
.Supplier_and_Company a{
    margin-top: -0.9%;
    text-align: center;
    color: #4d2c0b;
}
.Supplier_and_Company a:hover {
    color: #ce790a;
}

/* CSS para as empresas */

.main-content3 .Company_info {
    display: flex;
    margin-bottom: 15px; 
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    gap: 10px;
    background: linear-gradient(45deg, #faf2f0, #e6e3e1);
    border-radius: 15px;
    height: 100%;
    width: 30%;
    position: relative;
}

.main-content3 img {
    display: block;
    width: 150px; 
    height: 150px; 
    margin: 0 auto;
    border-radius: 15%;
}

/*CSS para o instagram*/

.main-content3 img[alt="Instagram"] {
    display: inline-flex;
    width: 25px; 
    height: auto; 
    align-items: center;
    padding: 2px;
    margin-left: 5px;
}
.main-content3 .info_insta a {
    text-decoration: none;
    color: #ad0361; 
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 1%;
}
.main-content3 .info_insta a:hover{
    color: #8907aa;
}

/*CSS para o Email*/
.main-content3 img[alt="Email"] {
    display: inline-flex;
    width: 25px; 
    height: auto; 
    align-items: center;
    padding: 2px;
    margin-left: 5px;
}
.main-content3 .info_email a {
    text-decoration: none;
    color: #0b69b6; 
    font-weight: bold;
    display: inline-flex;
    margin-top: 0;
    margin-bottom: 1%;
    align-items: center;
}
.main-content3 .info_email a:hover{
    color: #1e019c;
}

/* CSS para o WhatsApp */
.main-content3 img[alt="WhatsApp"] {
    display: flex;
    width: 25px; 
    height: auto; 
    align-items: center;
    padding: 2px;
    margin-left: 5px;
    margin-right: 2%;
}
.main-content3 .info_whatsapp{
    text-align: center;
    display:flex;
    align-items: center;
}
.main-content3 .info_whatsapp a {
    text-decoration: none;
    color: #0adf15; 
    font-weight: bold;
    display: flex;
    margin-top: 0;
    margin-bottom: 1%;
    align-items: center;
}
.main-content3 .info_whatsapp a:hover{
    color: #05830f;
}

/*CSS para o telefone*/
.main-content3 img[alt="Telefone"] {
    display: flex;
    width: 25px; 
    height: auto; 
    align-items: center;
    padding: 4px;
    margin-left: 5px;
}
.main-content3 .info_phone{
    text-align: center;
    display: inline-flex;
    align-items: center;
}
.main-content3 .info_phone a {
    text-decoration: none;
    color: #eb2207; 
    font-weight: bold;
    display: inline-flex;
    margin-top: 0;
    margin-bottom: 1%;
    text-align: center;
}
.main-content3 .info_phone a:hover{
    color: #b4120c;
}

.main-content3 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
}

.main-content3 h2 {
    width: 100%;
    text-align: center;
}

.main-content3 h3{
    text-align: center;
    color:#ce6515;
}

.button-container {
    position: relative;
    justify-content: center;
    display: flex;
    top: 2px;
}
.Companys {
    bottom: 0;
    padding: 1% 3%;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background: linear-gradient(45deg, #faf2f0, #e6e3e1);
    color: #311c00;  
    border-radius: 10px; 
    transition: background-color 0.3s ease;
    justify-content: center;
}

.Companys:hover {
    background: linear-gradient(90deg, hsl(41, 100%, 15%), #dd6b19);
    color: #ffffff;   
}

/* CSS para os produtos */
.Product {
    background: linear-gradient(45deg, #f0785a, #ce6515); /* Gradiente laranja */
    color: #fff; 
    padding: 20px;
    border-radius: 15px; 
    height: 100%;
    width: 25%;
    position: relative;
}
.Product p1{
    text-align: left;
}
.Product p{
    text-align: left;
    margin-bottom: 15%;
}

.cacao-button {
    position: absolute;
    bottom: 10px;
    left: 25%;
    padding: 15px 30px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(90deg, #4d2c0b, #cc7824); 
    color: #fff;  
    border-radius: 10px; 
    transition: background-color 0.3s ease;
    justify-content: center;
}

.cacao-button:hover {
    background: linear-gradient(90deg, #5a391a, #80470e); 
}

.main-content4 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
}

.main-content4 h2 {
    width: 100%;
    text-align: center;
}

.main-content4 .Routes {
    display: flex;
    margin-bottom: 15px;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    gap: 10px;
}

.main-content4 h3{
    text-align: center;
}

.main-content4 img {
    display: block;
    width: 150px; 
    height: auto; 
    margin: 0 auto;
    border-radius: 50%;
}

.button-container2 {
    position: relative;
    justify-content: center;
    display: flex;
    top: 1%;
    margin-bottom: 2%;
}
.cocoa_Products {
    padding: 1% 3%;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background: linear-gradient(45deg, #faf2f0, #e6e3e1);
    color: #311c00;  
    border-radius: 10px; 
    transition: background-color 0.3s ease;
    justify-content: center;
}
.cocoa_Products:hover {
    background: linear-gradient(90deg, hsl(41, 100%, 15%), #dd6b19);
    color: #ffffff;  
}

/* Culinária e Industria */
/* ------- Culinária ------- */
.main-content5 {
    flex: 1;
    padding: 20px;
    text-align: left;
}
.main-content5 p::before {
    content: "•"; 
    color: chocolate; 
    display: inline-block; 
    margin-right: 5px; 
}
.main-content5 .destaque::before {
    content: 0;
    margin: 0%;
}
div.Mousse img,
div.Brownie img,
div.Brigadeiro img{
    width: 100%; 
    height: 70%; 
    margin: 0 auto;
    margin-top: 1%;
    border-radius: 50%;
    border: 5px solid transparent;
    background: linear-gradient(180deg, #8f3400, #ec9858);
}

.Info_mousse {
    text-align: justify; 
    background: linear-gradient(90deg, #6e2800, #eca241);
    border-radius:calc(10px + 5vh) calc(10px + 5vh) calc(10px + 5vh) calc(10px + 5vh);
    border-style:outset; 
    padding: 1%;
    width: 70%;
    color: #ffffff; 
    margin-bottom: 2%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}
.Info_mousse h3 {
    text-align: center;
}
.ingredientes {
    text-align: center;
}
.Info_mousse .ingredientes::before {
    content: none;
    margin-right: 0; 
}

.Info_brownie {
    text-align: justify; 
    background: linear-gradient(90deg, #6e2800, #eca241);
    border-radius:calc(10px + 5vh) calc(10px + 5vh) calc(10px + 5vh) calc(10px + 5vh);
    border-style:outset; 
    padding: 1%;
    width: 70%;
    color: #ffffff; 
    margin-bottom: 2%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}
.Info_brownie h3 {
    text-align: center;
}
.Info_brownie .ingredientes::before {
    content: none;
    margin-right: 0; 
}

.Info_brigadeiro {
    text-align: justify; 
    background: linear-gradient(90deg, #6e2800, #eca241);
    border-radius:calc(10px + 5vh) calc(10px + 5vh) calc(10px + 5vh) calc(10px + 5vh);
    border-style:outset; 
    padding: 1%;
    width: 70%;
    color: #ffffff; 
    margin-bottom: 2%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}
.Info_brigadeiro h3 {
    text-align: center;
}
.Info_brigadeiro .ingredientes::before {
    content: none;
    margin-right: 0; 
}

.button-container3 {
    position: relative;
    justify-content: center;
    display: flex;
    top: 1%;
    margin-bottom: 2%;
}
.cocoa_Gastronomy {
    padding: 1% 3%;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background: linear-gradient(45deg, #faf2f0, #e6e3e1);
    color: #311c00;  
    border-radius: 10px; 
    transition: background-color 0.3s ease;
    justify-content: center;
}
.cocoa_Gastronomy:hover {
    background: linear-gradient(90deg, hsl(41, 100%, 15%), #dd6b19);
    color: #ffffff;  
}

/* ------- Industria ------- */
.Industry_cocoa {
    text-align: justify; 
    background: linear-gradient(90deg, #2e2e2e, #aaaaaa);
    border-radius:calc(10px + 5vh) calc(10px + 5vh) calc(10px + 5vh) calc(10px + 5vh);
    border-style:outset; 
    padding: 2%;
    width: 100%;
    color: #ffffff; 
}

.Industry {
    display: block; 
    margin: 0 auto; 
    border-radius: 7%; 
    width: 100px; 
    height: 100px;
    border: 5px solid transparent;
    background-color: linear-gradient(45deg, #777777, #bdbdbd);
    margin-bottom: 2%; 
}

img{
    width: 20%;
    height: 20%;
}
.cream{
    clip-path: circle(40% at 50% 50%);
}
.All_industryproducts {
    display: flex;
    justify-content: space-evenly;
}

.All_industryproducts img {
    border-radius: 50%; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
    border: 5px solid #9b6220;
}

.History{
    text-align: justify; 
    background: linear-gradient(90deg, #ffe7b5, #f0956b);
    border-radius:calc(10px + 5vh) calc(10px + 5vh) calc(10px + 5vh) calc(10px + 5vh);
    border-style:outset; 
    padding: 2%;
    width: 100%;
    color: #000000; 
    margin-bottom: 2%;
    margin-top: 1%;
}

.Historys_img {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 150px;
}
.Historys_img img {
    border-radius: 50%; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
    border: 5px solid #f1755f;
}

.main-content5 .destaque::before {
    content: none;
    margin-right: 0; 
}

footer {
    position: relative;
    background-color: #030303;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    top: 5%;
    width: 98,5%;
}