*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 90px; 
    height: auto;  
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    background: linear-gradient(to right, #000000, #463729);
    color: #fff;
}

.cacaue {
    top: 2px; 
    right: 10px; 
    width: 80px; 
    height: auto;  
} 

.header-main nav ul {
    list-style-type: none;
    padding: 1%;
    margin-bottom: 4%;
    text-align: center;
    background-color:chocolate;
}

.header-main nav li {
    margin: 0;
}

.header-main nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 100%;
    transition: color 0.3s ease;
    margin-top: 2%; 
}

.header-main nav a:hover {
    color: #ffcc00; 
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.fornecedor-group {
    color: #fff;
    background: linear-gradient(90deg, #28351b, #374938);
    border-radius:calc(5px + 5vh) calc(5px + 5vh) calc(5px + 5vh) calc(5px + 5vh);
    width: 30%;
    margin-bottom: 13%;
    margin-left: 5%;
}
.fornecedor-group h2{
    margin-top: 4%;
    text-align: center;
}
.fornecedor-group p{
    margin-left: 4%;
}

.fornecedor-group input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 0.5% 2%;
    border-radius:calc(5px + 5vh) calc(5px + 5vh) calc(5px + 5vh) calc(5px + 5vh);
    text-align: center;
    cursor: pointer;
    margin-top: 2%;
    margin-left: 4%;
    margin-bottom: 2%;
    border: none;
}

.fornecedor-group input[type="submit"]:hover {
    background-color: #06680b;
}

.Fornecedor_info {
    width: 30%;
    background: linear-gradient(90deg, #362607, #703005);
    color: white;
    padding: 0.5% 2%;
    border-radius:calc(5px + 5vh) calc(5px + 5vh) calc(5px + 5vh) calc(5px + 5vh);
    cursor: pointer;
    margin: 2% auto;
    border: none;
}

.Fornecedor_info p {
    width: 100%;
    margin-bottom: 2%;
}
.Fornecedor_info h2{
    margin-bottom: 1%;
    margin-top: 1%;
    text-align: center;
}

.form-group {
    background: linear-gradient(90deg, #28351b, #374938);
    border-radius:calc(5px + 5vh) calc(5px + 5vh) calc(5px + 5vh) calc(5px + 5vh);
    color: #fff;
    flex-basis: calc(30% - 5%);
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 13%;
}
.form-group h2{
    text-align: center;
    margin-top: 4%;
}
.form-group p{
    margin-left: 4%;
}

.form-group input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 0.5% 2%;
    border: none;
    border-radius:calc(5px + 5vh) calc(5px + 5vh) calc(5px + 5vh) calc(5px + 5vh);
    text-align: center;
    cursor: pointer;
    margin-top: 2%;
    margin-left: 4%;
    margin-bottom: 2%;
}

.form-group input[type="submit"]:hover {
    background-color: #06680b;
}

form {
    width: 100%;
}

.infococoa{
    background: linear-gradient(90deg, #3f9915, #50850b); 
    padding: 1%;
    border-radius:calc(5px + 5vh) calc(5px + 5vh) calc(5px + 5vh) calc(5px + 5vh);
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    max-height: auto;
    margin: 0.5%;
    color: #fff;
}

.title_{
    text-align: center;
    width: 100%;
    margin-bottom: 2%;
}

.item {
    display: flex;
    margin-bottom: 2%;
    align-items: center;
}

.imgcocoa {
    margin-right: 10px;
}

.imgcocoa img {
    width: auto;
    height: 50px;
    border-radius: 50%;
    margin-top: 20%;
}

.inftype p {
    margin: 0;
}

span {
    margin-bottom: 100%;
}

footer {
    background-color: #030303;
    color: #fff;
    text-align: center;
    width: 98%;
    padding: 1%;
}