*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ffe4d1, #ffffff);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 90px;
    height: auto; 
    margin-right: -5px; 
}
#map{
    height: 400px;
    margin-right: 10%;
    margin-left: 10%;
    border: 4px solid;
    border-image: linear-gradient(to right, #ffe44a, #ffa600);
    border-image-slice: 1;
    border-radius: 10px; 
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    background: linear-gradient(to right, #000000, #463729);
    color: #fff;
}

.cacaue {
    top: 2px; 
    right: 10px; 
    width: 80px; 
    height: auto;  
} 

.Fornecedor_Cacau {
    background-color: #57d357; 
    padding: 10px;
    border-radius: 15px; 
    max-width: 50%;
    margin: 0 auto;
    color: #fff;
}

#fornecedor h1 {
    color: #fff;
    text-align: center;
}

footer {
    background-color: #030303;
    color: #fff;
    text-align: center;
    width: 98,5%;
    padding: 1%;
}