*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ffe4d1, #ffffff);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 90px;
    height: auto; 
    margin-right: -5px; 
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    background: linear-gradient(to right, #000000, #463729);
    color: #fff;
}

.cacaue {
    top: 2px; 
    right: 10px; 
    width: 80px; 
    height: auto;  
} 

.container ::-webkit-scrollbar {
    width: 20px;
}

/*--- Reposnsável pelo rastreamento do cacau ---*/
#map{
    height: 400px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 2%;
    border: 4px solid;
    border-image: linear-gradient(to right, #ffe44a, #ffa600);
    border-image-slice: 1;
    border-radius: 10px; 
}

.wrapper {
    display: flex;
}

@media screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column; /* Altera para uma coluna em telas menores */
    }

    /* Estilos para a div Fornecedor_Cacau em telas menores */
    .Fornecedor_Cacau,
    .Localidades {
        width: 100%; /* Ocupa toda a largura disponível em telas menores */
    }
}

.Fornecedor_Cacau,
.Localidades {
    flex: 1;
    margin: 0.5%;
}


.Fornecedor_Cacau {
    background: linear-gradient(90deg, #3f9915, #50850b); 
    padding: 1%;
    border-radius:calc(5px + 5vh) calc(5px + 5vh) calc(5px + 5vh) calc(5px + 5vh);
    max-width: 97%;
    max-height: auto;
    margin: 0.5%;
    color: #fff;
}

.titleFrnc,
.titlelocal{
    text-align: center;
}

.Image_fornc {
    border-radius: 50%;
    width: 100%;
    height: 20px;
}

.container_fornc {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.name_fornc {
    padding: 1%;
    display: flex;
    flex-direction: row;
}

.Name_forncedor {
    flex: 1;
    background-color: #fff;
    border-radius: 7px;
    color:#000000;
    padding: 1%;
    margin: 0;
    width: 50%;
    margin-left: 2%;
}

.container2_fornc {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.Email_fornc {
    padding: 1%;
    display: flex;
    flex-direction: row;
}

.Email_fornecedor {
    flex: 1;
    background-color: #fff;
    border-radius: 7px;
    color:#000000;
    padding: 1%;
    margin: 0;
    width: 50%;
    margin-left: 2%;
}

.Data_coleta {
    padding: 1%;
    display: flex;
    flex-direction: row;
}

.Data_da_coleta {
    flex: 1;
    background-color: #fff;
    border-radius: 7px;
    color:#000000;
    padding: 1%;
    margin: 0;
    width: 50%;
    margin-left: 2%;
}

.type_cacau {
    padding: 1%;
    display: flex;
    flex-direction: row;
}

.tipo_de_cacau{
    flex: 1;
    background-color: #fff;
    border-radius: 7px;
    color:#000000;
    padding: 1%;
    margin: 0;
    width: 50%;
    margin-left: 2%;
}

.Localidades{
    background: linear-gradient(90deg, #19598d, #2927a1);
    padding: 1%;
    border-radius:calc(5px + 5vh) calc(5px + 5vh) calc(5px + 5vh) calc(5px + 5vh);
    max-width: 97%;
    max-height: auto;
    margin: 0.5%;
    color: #fff;
}

.Localidade {
    padding: 1%;
    display: flex;
    flex-direction: row;
}

.localidade_do_cacau{
    flex: 1;
    background-color: #fff;
    border-radius: 7px;
    color:#000000;
    padding: 1%;
    margin: 0;
    width: 50%;
    margin-left: 2%;
}

.LocalidadeIntd {
    padding: 1%;
    display: flex;
}

.Localidade_Intd {
    flex: 1;
    background-color: #fff;
    border-radius: 7px;
    color:#000000;
    padding: 1%;
    margin: 0;
    width: 50%;
    margin-left: 2%;
}

.LocalidadeF{
    padding: 1%;
    display: flex;
}

.Localidade_F {
    flex: 1;
    background-color: #fff;
    border-radius: 7px;
    color:#000000;
    padding: 1%;
    margin: 0;
    width: 50%;
    margin-left: 2%;
}

footer {
    background-color: #030303;
    color: #fff;
    text-align: center;
    width: 98,5%;
    padding: 1%;
}

/*Para o popup no arquivo javascript*/
.popup-content {
    max-width: 300px; /* Defina a largura máxima desejada */
    height: auto; /* Altura automática */
}
.popup-image {
    max-width: 100%; /* Imagem responsiva */
}